
*{
    box-sizing: border-box;

}

.menu{
    width: 25%;
    float: left;
   
    border: 3px solid black;
    margin-top: 7px;
    font-family: 'Prosto One', cursive;
    
}
.main{
    width: 75%;
    float: right;
   
    border: 3px solid black;
    margin-top: 7px;
    font-family: 'Prosto One', cursive;
    padding: 0px;
}
.header{
       
    border: 3px solid black;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#titulo_principal{
    font-size: 54px;
    font-weight: bolder;
    font-family: 'Prosto One', cursive;
  /**font-family: 'Rubik Bubbles', cursive; */

    color: rgb(114, 106, 106);
    border-left: 6px solid rgb(101, 76, 190);
    background-color: rgb(177, 217, 240);   
    
}

#texto{
    font-size: 24px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(131, 126, 126);
    padding: 5px;
    font-family: 'Prosto One', cursive;
}
/**
section{
    width: 500px;
    
}

body{
    background-image: url(/Curso\ prueba/imagenes/tote-black.png);
    background-repeat: no-repeat;
    background-position: 5cm;
}
*/
