body{
    background-color: rgb(212, 212, 223);
    font-family: 'Lato', sans-serif;
}


.índice{

    float: left;
}

.artículo{
    margin-left: 300px;
    float: left;
}


.título{
    font-family: 'Rowdies', cursive;
    color: rgb(40, 40, 109);
    font-size: 50px;
    margin-bottom: 0px;
}

.letraChica{
    margin: 0px;
    margin-left: 8px;
    font-family: 'Exo 2', light;
    font-style: italic;
    color: rgb(21, 21, 53);
    font-size: 20px;
}

.títuloSección{
    font-family: 'Exo 2', sans-serif;
    border-bottom: 3px rgb(40, 40, 109) solid;
    color: rgb(40, 40, 109);
    padding-left: 15px;
    padding-bottom: 5px;
}

.tiempo{
text-align: center;
margin-bottom: 0px;
font-weight: bold;
color:rgb(81, 81, 114);
}

.títuloSubSección{
    font-size: 25px;
    text-align: center;
    margin-top: 0px;
}

.subTítuloSubSección{
    text-align: center;
    font-family: 'Exo 2', light;
    color: rgb(114, 109, 148);
}

.cuadro:hover{
    background-color: rgb(249, 249, 253);
    border-radius: 12px;
/**    padding: 5px;
    margin: 10px;**/
}
