body{
    background-color: rgb(182, 182, 233);
}
.centro{
    text-align: center;
}

.índice{
    max-width: 500px;
    float: left;
}

.artículo{
    margin-left: 300px;
    float: left;
}


.título{
    font-family: 'Rowdies', cursive;
    color: rgb(40, 40, 109);
    font-size: 50px;
    margin-bottom: 0px;
}

.letraChica{
    margin: 0px;
    margin-left: 8px;
    font-family: 'Exo 2', light;
    font-style: italic;
    color: rgb(21, 21, 53);
    font-size: 20px;
}

.títuloSección{
    font-family: 'Exo 2', sans-serif;

}